<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>control.CatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>control.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminErrorServlet</servlet-name>
        <servlet-class>control.AdminErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPortalServlet</servlet-name>
        <servlet-class>control.AdminPortalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>control.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountErrorServlet</servlet-name>
        <servlet-class>control.AccountErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountPortalServlet</servlet-name>
        <servlet-class>control.AccountPortalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountErrorCreationServlet</servlet-name>
        <servlet-class>control.AccountErrorCreationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasketServlet</servlet-name>
        <servlet-class>control.BasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <servlet-class>control.LoginRequiredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookOutOfStockServlet</servlet-name>
        <servlet-class>control.BookOutOfStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAlreadyInBasketServlet</servlet-name>
        <servlet-class>control.BookAlreadyInBasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasketErrorServlet</servlet-name>
        <servlet-class>control.BasketErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasketSuccessServlet</servlet-name>
        <servlet-class>control.BasketSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>control.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintCheckoutPdfServlet</servlet-name>
        <servlet-class>control.PrintCheckoutPdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBasketServlet</servlet-name>
        <servlet-class>control.UpdateBasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBasketSuccessServlet</servlet-name>
        <servlet-class>control.UpdateBasketSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBasketErrorServlet</servlet-name>
        <servlet-class>control.UpdateBasketErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>control.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorBookServlet</servlet-name>
        <servlet-class>control.ErrorBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookErrorServlet</servlet-name>
        <servlet-class>control.DeleteBookErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookSuccessServlet</servlet-name>
        <servlet-class>control.DeleteBookSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>control.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookErrorServlet</servlet-name>
        <servlet-class>control.UpdateBookErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookSuccessServlet</servlet-name>
        <servlet-class>control.UpdateBookSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>control.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>control.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountErrorServlet</servlet-name>
        <servlet-class>control.DeleteAccountErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountSuccessServlet</servlet-name>
        <servlet-class>control.DeleteAccountSuccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/CatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminErrorServlet</servlet-name>
        <url-pattern>/AdminErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPortalServlet</servlet-name>
        <url-pattern>/AdminPortalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountErrorServlet</servlet-name>
        <url-pattern>/AccountErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountPortalServlet</servlet-name>
        <url-pattern>/AccountPortalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountErrorCreationServlet</servlet-name>
        <url-pattern>/AccountErrorCreationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasketServlet</servlet-name>
        <url-pattern>/BasketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <url-pattern>/LoginRequiredServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookOutOfStockServlet</servlet-name>
        <url-pattern>/BookOutOfStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAlreadyInBasketServlet</servlet-name>
        <url-pattern>/BookAlreadyInBasketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasketErrorServlet</servlet-name>
        <url-pattern>/BasketErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasketSuccessServlet</servlet-name>
        <url-pattern>/BasketSuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintCheckoutPdfServlet</servlet-name>
        <url-pattern>/PrintCheckoutPdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBasketServlet</servlet-name>
        <url-pattern>/UpdateBasketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBasketSuccessServlet</servlet-name>
        <url-pattern>/UpdateBasketSuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBasketErrorServlet</servlet-name>
        <url-pattern>/UpdateBasketErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorBookServlet</servlet-name>
        <url-pattern>/ErrorBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookErrorServlet</servlet-name>
        <url-pattern>/DeleteBookErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookSuccessServlet</servlet-name>
        <url-pattern>/DeleteBookSuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookErrorServlet</servlet-name>
        <url-pattern>/UpdateBookErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookSuccessServlet</servlet-name>
        <url-pattern>/UpdateBookSuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountErrorServlet</servlet-name>
        <url-pattern>/DeleteAccountErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountSuccessServlet</servlet-name>
        <url-pattern>/DeleteAccountSuccessServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
