<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>control.CatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>control.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminErrorServlet</servlet-name>
        <servlet-class>control.AdminErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPortalServlet</servlet-name>
        <servlet-class>control.AdminPortalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>control.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountErrorServlet</servlet-name>
        <servlet-class>control.AccountErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountPortalServlet</servlet-name>
        <servlet-class>control.AccountPortalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountErrorCreationServlet</servlet-name>
        <servlet-class>control.AccountErrorCreationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/CatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminErrorServlet</servlet-name>
        <url-pattern>/AdminErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPortalServlet</servlet-name>
        <url-pattern>/AdminPortalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountErrorServlet</servlet-name>
        <url-pattern>/AccountErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountPortalServlet</servlet-name>
        <url-pattern>/AccountPortalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountErrorCreationServlet</servlet-name>
        <url-pattern>/AccountErrorCreationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
